<div class="row">
	<div class="small-12 columns">
	<div class="text-center"><h1>Drinks</h1></div><br>
		<ul class="small-block-grid-2 large-block-grid-3 text-center">
			<% @products['result'].each do |product| %>
				<li><img src="<%= product ['image_thumb_url'] %>"<br>
				<%= link_to product['name'], product_path(product['id']) %>
    			 <%= format_price product['price_in_cents'] %><br>  
			    <%= product['primary_category'] %>
			  	</li>
			  	<% end %>
			</ul>
		<div class="text-center"><h4><%= link_to 'Next-page', products_path(page: @products['pager']['next_page'])%></h4></div>
	</div>
</div>

